@media(min-width: 1200px){
    .rr { width: 90%;}
}
@media(max-width: 468px){
    .container{
        padding: 0px;
    }
    .dashboard-wrapper-lg{
        padding: 1px;
    }
    .paddingNone{
        padding:1px;
    }
    .displayNone{
        display:none;
    }

}
.red{
  color:red;
}

.activeUser{
    cursor:pointer;
}

html,
body {
    height: 100%;
}
.KursorShow{
    cursor:pointer;
}
.boxClick{
    cursor:pointer;
}
.colorWhite{
    color:white;
}

.companyInfoClick{
    cursor:pointer;
}


.abt-back-color {
    background-color: rgba(91, 168, 255, 0.9);
}

.hm-back-color, .abt-back-color, .srvc-back-color, .sb-back-color {
    padding-top: 50px;
    padding-bottom: 50px;
}

.divShow{
    display:block;
}

.divHide{
    display:none;
}

.classInputShow{
    display:block;
}

.classInputHide{
    display:none;
}

.userAddedShow{
    display:none;
}

.wrap{
    padding-bottom:0px;
}
#map {
        width: 100%;
        height: 500px;
      }

.trackerInfo{
    display:none;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}
.icon {
    margin: 5px;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
#shadow{
        position:absolute;
        top:0px;
        left:0px;
        width:100%;
        height:140%;
        background-color:black;
        opacity:0.2;
        filter:alpha(opacity:40);
        z-index:999;
        display:none;
}

#preloader{
        position:absolute;
        left:50%;
        top:50%;
        margin:-100px 0 0 -150px;
        z-index:999;
        display:none;
}
.panel-primary{
    margin-bottom: 4px;
}
.table-hover > tbody > tr:hover {
  background-color: #C7E5FF;
}
.dropdown-menu:after, .dropdown-menu:before{
    display:none;
}



.share-button {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width:6em;
  height:2em;
  line-height:2em;
 }

.social-toggle {
  display:block;
  font-weight:bold;
  font-size:90%;
  text-align:center;
  text-transform:uppercase;
  transition:all 0.25s;
  color:rgb(200,200,200);
  background:rgba(200,200,200,.05);
  border: 2px solid rgb(200,200,200);
}

.social-toggle:hover {
  background:rgb(200,200,200);
  color:#333;
}

.no-js .social-toggle, .no-js .social-toggle:hover {
  cursor: default;
  border:none;
  background:transparent;
  color:rgb(200,200,200);
  pointer-events:none;
}

.social-networks {
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform: scale(0) translateY(-190px);
  transform: scale(0) translateY(-190px);
  opacity: 0;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  margin-left: -45%;
  /* stops flickering */
  -webkit-backface-visibility: hidden;
}

.social-gplus {
  background: #e34429;
}

.social-twitter {
  background: #6cdfea;
}

.social-networks.open-menu, .no-js .social-networks {
  -webkit-transform: scale(1) translateY(-90px);
  transform: scale(1) translateY(-90px);
  opacity:1;
}


.social-networks ul {
  position:relative;
  top:0;
  left:0;
  width: 180px;
  height: 40px;
  color: #fff;
  background: #3b5998;
  margin: auto;
  padding: 0;
  list-style: none;
}

.social-networks ul:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  right: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
}

.social-networks.open-menu ul:after, .no-js .social-networks ul:after {
  margin: 35px auto;
  border-top: 12px solid #3b5998;
}

.social-networks li {
  font-size: 90%;
  width: 60px;
  margin: 0;
  text-align: center;
  float: left;
  display: block;
  height: 40px;
  line-height:40px;
  position: relative;
  z-index: 2;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  transition: all .3s ease;
}

.share-button a {
  text-decoration:none;
}

.social-networks a {
  display:block;
  color:white;
}

.social-networks a:hover {
  color:#222;
}

#fixedBlockTask{
    background: #fff;
    position: fixed;
    display: none;
    top: 50px;
    z-index: 1001;
    width: 420px;
    height:100%;
    margin-left: 0;
    border-radius: 0;
    font-family: 'Open Sans', Arial, sans-serif;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(51, 51, 51, 0.2);
    box-shadow: 0px 0px 4px 0px rgba(51, 51, 51, 0.2);
}
#fixedButtonTask{
    z-index: 1001;
    margin-left: 0px;
    position: fixed;
    left: 0;
    width:50px;
    top: 100px;
    color: #fff;
    background: #333;
    border: #666 1px solid;
    box-shadow: #ccc 0 0 2px;
    border-left: 0;
    font-size: 18px;
    display: block;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-topright: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding: 10px 16px 10px 14px;
    cursor: pointer;
}


#fixedBlockDriver{
    background: #fff;
    position: fixed;
    display: none;
    top: 50px;
    z-index: 1001;
    width: 420px;
    height:100%;
    margin-left: 0;
    border-radius: 0;
    font-family: 'Open Sans', Arial, sans-serif;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(51, 51, 51, 0.2);
    box-shadow: 0px 0px 4px 0px rgba(51, 51, 51, 0.2);
}
#fixedButtonDriver{
    z-index: 1001;
    margin-left: 0px;
    position: fixed;
    left: 0;
    top: 180px;
    width:50px;
    color: #fff;
    background: #333;
    border: #666 1px solid;
    box-shadow: #ccc 0 0 2px;
    border-left: 0;
    font-size: 18px;
    display: block;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-topright: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding: 10px 16px 10px 14px;
    cursor: pointer;
}


#fixedBlockAvto{
    background: #fff;
    position: fixed;
    display: none;
    top: 50px;
    z-index: 1001;
    width: 420px;
    height:100%;
    margin-left: 0;
    border-radius: 0;
    font-family: 'Open Sans', Arial, sans-serif;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(51, 51, 51, 0.2);
    box-shadow: 0px 0px 4px 0px rgba(51, 51, 51, 0.2);
}
#fixedButtonAvto{
    z-index: 1001;
    margin-left: 0px;
    position: fixed;
    left: 0;
    top: 140px;
    width:50px;
    color: #fff;
    background: #333;
    border: #666 1px solid;
    box-shadow: #ccc 0 0 2px;
    border-left: 0;
    font-size: 18px;
    display: block;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-topright: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding: 10px 16px 10px 14px;
    cursor: pointer;
}
#fixedButtonTrackerInfo{
    z-index: 1001;
    margin-left: 0px;
    position: fixed;
    right: 0;
    top: 140px;
    width:50px;
    color: #fff;
    background: #333;
    border: #666 1px solid;
    box-shadow: #ccc 0 0 2px;
    border-left: 0;
    font-size: 18px;
    display: block;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-topright: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding: 10px 16px 10px 14px;
    cursor: pointer;
}